{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'field-collection-item',
    'field-collection-item--name-' ~ field_collection_item.name|clean_class,
    'field-collection-item--view-mode-' ~ field_collection_item.view_mode|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="content"{{ content_attributes }}>
    <!--/*
        Main HTML template for the card-icon component.
    */-->

    <section class="component-card-icon">
    	<div class="image">
            {% set img_url = file_url(content.field_be.0['#item'].entity.uri.value) %}
    		<img class="img-responsive img-centered" src="{{ img_url }}">
    	</div>
    	<div class="content">
    		<header>
    			<h5>{{ content.field_title }}</h5>
    		</header>
    		<div class="body">
    			{{ content.field_description }}
    		</div>
    	</div>
    </section>
  </div>
</div>