<footer class="component-global-footer">
  <div class="container">
    <div class="row">
      <div class="col-legal col-12 col-lg-8 col-xl-9">
        <a class="logo" href="/">
          <img class="img-responsive logo-default" src="/{{ directory }}/images/logo-white.png">
          <img class="img-responsive logo-hover" src="/{{ directory }}/images/logo-green.png">
        </a>
        <div class="colophon clearfix">
          <div class="copyright">&copy; {{ 'now'|date('Y') }} BrightInsight. All rights reserved.</div>
          <nav class="nav-legal clearfix">
            {{ page.trademark_menu }}
          </nav>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-3">
        <nav class="nav-footer">
          {{page.footer_menu}}
        </nav>
        <nav class="nav-social clearfix">
          <ul>
            <li><a href="https://www.linkedin.com/company/brightinsight-inc/" target="_new"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://twitter.com/Brightinsightco" target="_new"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>